.social-list {
    @extend %list;
    display: flex;
    justify-content: center;
}

.social-list__item {
    margin-right: 10px;

    &:last-child {
        margin-right: 0;
    }
}


// employee-social-link and company-social-link-footer 
.social-list__link {
    @extend %link;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--icon-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
        background-color: var(--accent-color);
        color: var(--primary-white-color);
    }
}


.social-list__icon {
    fill: currentColor;
}

// Company social links container - footer

.social-networks {

    @media screen and (max-width: 1199px) {
        text-align: center;
    }
}

.social-networks__text {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--primary-white-color);
}

.social-list__link--white {
    color: var(--primary-white-color);
    background-color: var(--footer-link-background-color);
}